/* Needs some extra specificity to override `.mw-body p` */
.mw-notification-content .mw-wme-humanrel-question {
	margin: 0;
}

.mw-wme-humanrel-question > span,
.mw-wme-humanrel-question > small {
	display: inline-block;
	margin-top: .5em;
}
